<script setup>
import {onMounted, ref} from 'vue'
import { DateTime } from 'luxon'
import ConsumptionForm from './ConsumptionForm.vue'

const results = ref();
const paging_info = ref();
const sorting_info = ref({
  field_name: 'time',
  direction: 'ascending'
});
const from = ref(DateTime.now().startOf('day').toISO());
const to = ref(DateTime.now().endOf('day').toISO());

const meta = ref({
  energy: { unit: 'kJ', precision: 0, converter: v => v },
  calculatedEnergy: { unit: 'kJ', precision: 0, converter: v => v },
  protein: { unit: 'g', precision: 2, converter: v => v },
  carbohydrate: { unit: 'g', precision: 2, converter: v => v },
  fat: { unit: 'g', precision: 2, converter: v => v },
  fiber: { unit: 'g', precision: 2, converter: v => v },
  sodium: { unit: 'mg', precision: 0, converter: v => v * 1000 },
  calcium: { unit: 'mg', precision: 0, converter: v => v * 1000 }
});

onMounted(async () => {
  await find();
})

async function find() {
  const url = new URL('/api/consumptions', window.location.href);
  // url.searchParams.append('from', from)
  // url.searchParams.append('to', to)

  const sort_direction_long_to_short_mapping = {
    'ascending': '+',
    'descending': '-',
  }
  const sort_param_value = `${sort_direction_long_to_short_mapping[sorting_info.value.direction]}${sorting_info.value.field_name}`
  url.searchParams.append('sort', sort_param_value);

  url.searchParams.append('page_size', paging_info.value?.page_size ?? 5);
  url.searchParams.append('page', paging_info.value?.page ?? 1);

  const res = await fetch(url);
  const data = await res.json()

  results.value = data.results;
  paging_info.value = data.$paging_info;
  sorting_info.value = data.$sorting_info;
}

async function nextPage() {
  paging_info.value.page += 1;
  await find();
}

async function previousPage() {
  paging_info.value.page -= 1;
  await find();
}

async function sortByFieldName(field_name) {
  if(sorting_info.value.field_name === field_name) {
    sorting_info.value.direction = sorting_info.value.direction === 'ascending' ? 'descending' : 'ascending'
  } else {
    sorting_info.value.field_name = field_name
    sorting_info.value.direction = 'ascending'
  }

  await find();
}

</script>

<template>
  <form @submit.prevent="find()">
    <div>From:<input v-model="from"/></div>
    <div>To: <input v-model="to"/></div>
    <button>Send</button>
  </form>

  <div>
    <table>
      <thead>
        <tr>
          <th class="b-10 p-10 bg-grey">
            <button @click="sortByFieldName('_id')">Id</button>
            <span v-if="sorting_info?.field_name === '_id'">({{sorting_info.direction}})</span>
          </th>
          <th class="b-10 p-10 bg-grey">
            <button @click="sortByFieldName('time')">Time</button>
            <span v-if="sorting_info?.field_name === 'time'">({{sorting_info.direction}})</span>
          </th>
          <th class="b-10 p-10 bg-grey">
            <button @click="sortByFieldName('quantity')">Quantity</button>
            <span v-if="sorting_info?.field_name === 'quantity'">({{sorting_info.direction}})</span>
          </th>
          <th class="b-10 p-10 bg-grey">Nutrient</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="consumption of results">
          <td class="b-10 p-10">{{consumption._id}}</td>
          <td class="b-10 p-10">{{DateTime.fromISO(consumption.time).toFormat('yyyy-MM-dd HH:mm')}}</td>
          <td class="b-10 p-10">{{consumption.quantity}}</td>
          <td class="b-10 p-10">{{consumption.nutrient}}</td>
        </tr>
      </tbody>
    </table>

<!--    <div >-->
<!--      <div>{{ consumption.time }}</div>-->
<!--      <div>{{consumption.nutrient.name}} <span v-if="consumption.nutrient.brand">({{consumption.nutrient.brand}})</span></div>-->
<!--&lt;!&ndash;      <table>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;          <th>Energy:</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>{{ consumption.properties.energy.toFixed(0) }}kJ / {{ consumption.properties.calculatedEnergy.toFixed(0) }}kJ ({{((consumption.properties.energy / consumption.properties.calculatedEnergy) * 100).toFixed(0) }}%)</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;          <th>Fat:</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>{{ consumption.properties.fat.toFixed(2) }}g</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;          <th>Carbohydrate:</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>{{ consumption.properties.carbohydrate.toFixed(2) }}g</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;          <th>Protein:</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>{{ consumption.properties.protein.toFixed(2) }}g</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;          <th>Fiber:</th>&ndash;&gt;-->
<!--&lt;!&ndash;          <td>{{ consumption.properties.fiber.toFixed(2) }}g</td>&ndash;&gt;-->
<!--&lt;!&ndash;        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;      </table>&ndash;&gt;-->
<!--      <hr/>-->
<!--    </div>-->
    <div v-if="paging_info" class="flex">
      <button :disabled="paging_info.page === 1" @click="previousPage()">Prev</button>
      <div>
        <div>Showing page {{paging_info.page}} of {{paging_info.page_count}} ({{paging_info.page_size}} results per page)</div>
        <div>Showing results ({{paging_info.first}} to {{paging_info.last}} of {{paging_info.count}})</div>
        </div>
      <button :disabled="paging_info.page === paging_info.page_count" @click="nextPage()">Next</button>
    </div>

    <consumption-form/>

<!--      <div>Totals:</div>-->
<!--      <div>Energy: {{ totals.energy.toFixed(0) }}kJ</div>-->
<!--      <div>Fat: {{ totals.fat.toFixed(2) }}g</div>-->
<!--      <div>Carbohydrate: {{ totals.carbohydrate.toFixed(2) }}g</div>-->
<!--      <div>Protein: {{ totals.protein.toFixed(2) }}g</div>-->
<!--      <div>Fiber: {{ totals.fiber.toFixed(2) }}g</div>-->
<!--    </div>-->
  </div>
</template>
