<script setup>
import {onMounted, ref, defineEmits} from 'vue';
import { DateTime } from 'luxon'

const emit = defineEmits(['created'])

const form = ref({
  time: DateTime.now().toISO(),
  quantity: undefined,
  nutrient: undefined,
});

const messages = ref([]);

const nutrients = ref();
const results = ref();

onMounted(async () => {
  nutrients.value = await findNutrients();
});

async function findNutrients() {
  const url = new URL('/api/nutrients', window.location.href);
  url.searchParams.append('sort', '+name');
  url.searchParams.append('page_size', 100);

  const response = await fetch(url);
  const data = await response.json();
  return data.results;
}

async function createConsumption() {
  messages.value.length = 0;

  const consumption = {
    time: DateTime.fromISO(form.value.time),
    nutrient: form.value.nutrient,
    quantity: Number(form.value.quantity),
  }
  console.info('Creating consumption:', consumption);

  const url = new URL('/api/consumptions', window.location.href);
  url.searchParams.append('sort', '+name');
  url.searchParams.append('page_size', 100);

  const response = await fetch(url, {
    method: 'POST',
    body: JSON.stringify(consumption),
    headers: {
      'Content-Type': 'application/json'
    }
  });

  if(response.status !== 201) {
    const text = await response.text()
    messages.value.push(`Error ${response.status} ${text}`);
  }

  const created_consumption = await response.json();
  messages.value.push(`Consumption created ${created_consumption._id}`);

  emit('created', created_consumption);
}
</script>

<template>
  <form @submit.prevent="createConsumption()" class="b-10">
    <ul v-if="messages?.length > 0" class="red">
      <li v-for="message of messages">{{message}}</li>
    </ul>
    <div class="m-20">
      <label for="time">Time</label>
      <input id="time" type="text" v-model="form.time" class="b-10"/>
    </div>
    <div class="m-20">
      <label for="Nutrient">Nutrient</label>
      <select id="nutrient" v-model="form.nutrient" class="b-10">
        <option v-for="nutrient of nutrients" :value="nutrient._id">{{nutrient.name}} ({{nutrient.brand}})</option>
      </select>
    </div>
    <div class="m-20">
      <label for="quantity">Quantity</label>
      <input id="quantity" type="text" v-model="form.quantity" class="b-10"/>
    </div>
    <div>
      <button>Create</button>
    </div>
  </form>
</template>
