/* RESET */
* {
  border: 0 solid black;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
}

/* UTILS */

.b-100 {
  border-width: 1.00rem;
}

.b-10 {
  border-width: 0.10rem;
}

.p-10 {
  padding: 0.10rem;
}

.m-20 {
  margin: 0.20rem;
}

.red {
  color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-grey {
  background-color: grey;
}

.flex {
  display: flex;
}